@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+Pro:wght@300;400;600&display=swap");
:root {
  font-size: 16px;
  --white: #fff;
  /* --light-pink: #faf1f1;
  --medium-pink: #c9787b;
  --bright-pink: #e42c5d;
  --black: rgb(78, 34, 34); */
  --russianViolet: hsl(300, 51%, 20%);
  --russianVioletDark: hsl(287, 39%, 20%);
  --darkPurple: hsl(266, 33%, 20%);
  --spaceCadet: hsl(242, 25%, 20%);
  --prussianBlue: hsl(217, 35%, 20%);
  --charcoal: hsl(201, 47%, 20%);
  --midnightGreenDark: hsl(193, 61%, 20%);
  --midnightGreenMedium: hsl(187, 78%, 20%);
  --midnightGreenLight: hsl(184, 88%, 20%);
  --skobeloff: hsl(181, 100%, 20%);
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --body: 1rem;
  --sub: 0.8rem;
  --main-text-color: var(--white);
  --heading-text-color: var(--white);
  --sub-text-color: var(--white);
  --background-color: var(--prussianBlue);
  --heading-font-fam: "Oswald", sans-serif;
  --text-font-fam: "Source Sans Pro", sans-serif;
}
:root {
  background: linear-gradient(
    0.55turn,
    var(--russianViolet),
    var(--russianVioletDark),
    var(--spaceCadet),
    var(--prussianBlue),
    var(--midnightGreenDark)
  );
}
body {
  /* background-color: var(--background-color); */
  /* background: linear-gradient(
    0.55turn,
    var(--russianViolet),
    var(--russianVioletDark),
    var(--spaceCadet),
    var(--prussianBlue),
    var(--midnightGreenDark)
  ); */
  padding-bottom: 10rem;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  position: relative;
  top: 140px;
  font-family: var(--text-font-fam);
  padding: 2rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0.6rem 0.6rem 0.6rem;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* -webkit-box-shadow: 3px 3px 5px 6px #ccc;  
  -moz-box-shadow:    3px 3px 5px 6px #ccc;   */
  box-shadow: 0 0px 9px hsl(0, 0%, 0%), inset 0 0 200px hsl(0, 0%, 50%);
  /* box-shadow: 0 30px 8px hsla(0, 0, 100%, 0.9); */
  z-index: 1000;
}
header,
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-fam);
  text-align: center;
}
h1 {
  font-size: var(--h1);
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: var(--russianVioletDark);
}
h3 {
  font-size: var(--h3);
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--white);
}
h4 {
  font-size: var(--h4);
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--white);
}
p {
  text-align: left;
  text-indent: 1rem;
  letter-spacing: 0.2px;
  margin-top: 10px;
  line-height: 1.4rem;
}
ul {
  list-style: none;
  margin-top: 0.5rem;
}
li {
  font-style: italic;
  margin-left: 1rem;
}
.stacked figure {
  margin-top: 10px;
}
figure {
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  /* min-height: 250px; */
}
figure div {
  /* background-color: var(--medium-pink); */
  /* width: 100%; */
  /* height: 100%; */
}
iframe {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
  border: 1px solid var(--white);
}
img {
  border: 1px solid var(--white);
}
figcaption {
  font-size: var(--sub);
  font-family: var(--heading-font-fam);
  letter-spacing: 1.1px;
  line-height: 1.3;
  color: var(--sub-text-color);
  opacity: 0.8;
}
footer {
  position: relative;
  top: 140px;
  margin-top: 40px;
  margin-bottom: 150px;
  padding-left: 2rem;
  font-family: var(--text-font-fam);
  font-weight: 600;
  color: var(--sub-text-color);
  z-index: 1;
}
hr {
  margin: 6rem;
  border: 1px solid var(--white);
  opacity: 0.3;
}
.main {
  position: relative;
  z-index: 1;
}
.main > div {
  margin-top: 40px;
}
.main .section.col:nth-child(2) {
  margin-top: 10px;
}
.main-text {
  color: var(--main-text-color);
}
.highlighted-text {
  color: var(--main-text-color);
}
.muted-text {
  color: var(--russianViolet);
}

@media (hover: none) {
  #iPadOS {
    display: none;
  }
}

@media (min-width: 850px) {
  body {
    padding: 0 8% 6rem;
    background: linear-gradient(
      0.55turn,
      var(--russianVioletDark),
      var(--spaceCadet),
      var(--midnightGreenDark)
    );
  }
  header,
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading-font-fam);
    text-align: left;
  }
  header {
    padding: 1rem calc(8% + 4rem);
  }
  header > div {
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 1;
    transform-origin: 0;
  }
  footer {
    padding: 0 4rem;
  }
  .main {
    padding: 0 4rem;
  }
  .main .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .main .section.col:nth-child(1) {
    grid-column: 1;
    padding: 0;
  }
  .main .section.col:nth-child(1) * {
    padding: 0;
  }
  .main .section.col:nth-child(2) {
    grid-column: 2;
    padding: 0;
    margin-top: 0;
  }
  .section p:nth-child(1) {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 0 20% 100px;
    background: linear-gradient(
      0.55turn,
      var(--russianVioletDark),
      var(--spaceCadet),
      var(--midnightGreenDark)
    );
  }
  header,
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading-font-fam);
    text-align: left;
  }
  header {
    padding: 1rem calc(20% + 4rem);
  }
  header > div {
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 1;
    transform-origin: 0;
  }
  footer {
    padding: 0 4rem;
  }
  .main {
    padding: 0 4rem;
  }
  .main .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .main .section.col:nth-child(1) {
    grid-column: 1;
    padding: 0;
  }
  .main .section.col:nth-child(1) * {
    padding: 0;
  }
  .main .section.col:nth-child(2) {
    grid-column: 2;
    padding: 0;
    margin-top: 0;
  }
  .section p:nth-child(1) {
    margin-top: 0;
  }
}
